.DS_Store
target
target-eclipse
.directory
.settings
.classpath
.project

# JetBrains IntelliJ IDEA files
.idea*
.idea/*
*.iml
*.iws
*.ipr


.gradle
build/
build/*
settings.gradle

stacktrace.log
cobertura.ser
*.war
*.log*
web-app/WEB-INF/classes
web-app/css/.directory
plugins*
plugins/*
.gradle/
out/
