<ul class="common-item-list">
	<li>
		<a href="#">
			<span class="date">
				27.06.2012
			</span>
			<span class="name">
				News_1 Headline
			</span>
			<span>
				This is News_1 related to 360 Optimi project
			</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="date">
				28.06.2012
			</span>
			<span class="name">
				News_2 Headline
			</span>
			<span>
				This is News_2 related to 360 Optimi project
			</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="date">
				29.06.2012
			</span>
			<span class="name">
				News_3 Headline
			</span>
			<span>
				This is News_3 related to 360 Optimi project
			</span>
		</a>
	</li>
</ul>
