div.navfix {
  height: 40px;
}
* + html div.navfix {
  height: 21px;
}
.contentscreen .row-fluid div.span4 .content-area {
  padding: 0 20px 0 20px;
}
.contentscreen .row-fluid div.span4:first-child .content-area {
  padding: 0 0px 0 20px;
}
.contentscreen .row-fluid div.span4:first-child + div.span4 .content-area {
  padding: 0 0px 0 20px;
}
.contentscreen .row-bordered {
  display: block;
}
.contentscreen .row-bordered div.span4 {
  display: block;
  float: left;
}
.contentscreen .row-bordered div.span4 .content-area {
  padding: 0 20px 0 20px;
}
.contentscreen .row-bordered div.span4:first-child .content-area {
  padding: 0 0px 0 20px;
}
.contentscreen .row-bordered div.span4:first-child + div.span4 .content-area {
  padding: 0 0px 0 20px;
}
div.building-item-view div.row-no-spacing {
  padding-bottom: 15px;
}
* + html div.building-item-view div.row-no-spacing {
  padding-bottom: 0px;
}
